<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page By Golang</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>
    {{template "header"}}
    <br>
    <section>
        <h1>List of playlist of my youtube Channel are:</h1>
        <ol>
            <li> Android programming with Java</li>
            <li> Android programming with Kotlin</li>
            <li> Golang programming</li>
            <li> Java programming</li>
            <li> JavaScript programming</li>
            <li> Node JS programming</li>
            <li> Mongodb

        </ol>
    </section>



</body>

</html>