/* HOME */
#z{
    background: url('https://t4.ftcdn.net/jpg/02/44/69/87/360_F_244698725_uWdUNY1oiaHthwcb1NK6IqtPuRNKHor2.jpg') no-repeat center center/cover;
    height: 600px;
}
#y{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    margin-left: 60px;
    color:blanchedalmond;
}
.para{
font-size: 20px;
color: blanchedalmond;
padding:50px;
text-align: center;
max-width: 500px;
margin-left: 450px;
}
.logo{
    height: 70px;
    width: 70px;
   margin: 5px 10px;
   border: 2px solid red;
   border-radius: 50%;
   display:flex;  
}
.li{
    float:left;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align:left;  
}
.btn1{
    padding: 5px 10px;
    border: 2px solid black;
    background-color: aquamarine;
    margin: 15px;
    font-size: 1rem;
    border-radius: 8px;
    cursor:pointer;
    margin-left: 700px;
}
.ul{
    margin-left: 100px;
}
.nav{
    display:flex;
    opacity: .7;
    position:relative;
    background-color: black;
    color: antiquewhite;   
}
.txt{
    color:bisque
}


/* OUR SERVICES */

#a{
position: relative;
margin-bottom: 550px;
}
#b{
    float: left;
    display: flex;
}
.c{ 
    border: 2px solid gray;
    padding: 20px;
    margin: 4px;
    background-color: rgb(214, 204, 191);
    border-radius: 15px;
}
.d{
text-align:center;
font-family: Arial, Helvetica, sans-serif;
}
.e{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}
.f{
    height: 300px;
    width: 400px;
    margin-left: 20px;
}
#h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;    
}
/* OUR CLIENTS */
#r{
    position: relative;
    margin-bottom: 450px;
    }
.column {
    display: flex;
    padding: 0px;
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 300px;
    margin-left: 10px;
    margin-right: 10px; 
    border: 1px solid red;  
    border-radius: 50%;
}
.row {
            
    margin-left: 450px;
}
#sec{
    
    background: url("https://media.istockphoto.com/id/1147252758/photo/healthy-vegetarian-food-background-vegetables-pesto-and-lentil-curry-with-tofu.jpg?s=612x612&w=0&k=20&c=tfLYLtT-f_I-tnmOdb_6WHRhIQa8jXy7SkFakC-P-LU=") no-repeat center center/cover;
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 600px;
    align-items: center;   
}
*{
    padding: 0;
    margin: 0;
}
.h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    font-size: 50px;
    font-weight: bold;
    margin-left: 650px;
}

/* FORM */
#form{
    align-content: center;
    margin-left: 600px;     
}
#name{
    display: flex;
    border-radius: 10px;
    padding: 5px 5px;
    width: 30%;
    font-size: .9rem; 
    border: 2px solid grey;   
    font-family: Arial, Helvetica, sans-serif;    
}
.label{
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-right: 650px;    
}
.btn{
    padding: 5px 10px;
    border: 2px solid black;
    background-color: aquamarine;
    margin: 15px;
    font-size: 1rem;
    border-radius: 8px;
    cursor:pointer;
    margin-right: 550px;
    }
#sec2{
    background-image: url("https://c1.wallpaperflare.com/preview/551/930/440/contact-us-contact-call-us-phone-communication.jpg");
    background-size: 100% 100%;
    padding: 50px 50px;
    position: relative;
}
